body {
    background: #fafafa;
}

.dino {
    width: 60px;
    height: 60px;
    background-image: url(dino.png);
    position: absolute;
    bottom: 0;
}

.cactus {
    position: absolute;
    width: 60px;
    height: 60px;
    background-image: url(cactus.png);
    bottom: 0;
}


.container {
    display: flex;
    flex-direction: column;
    max-width: 992px;
    margin: 0 auto;
    padding: 2.5rem 2rem;
    align-items: center;
}

.game-over {
    color: #666666;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.button-start {
    padding: 10px;
    text-align: center;  

}

.button-start button {
border-radius: 4px;
font-size: 1.5rem;
  border: none;
  background-color: #ff94ad;
  color: #FFF;
  cursor: pointer;
  outline: none;
}

.button-start button:hover {
    color: #ff94ad;
    background-color: #fafafa;
}

@keyframes slideright {
    from {
        background-position: 70000%;
    }
    to {
        background-position: 0;
    }
}

.background {
    position: absolute;
    bottom: 0;
    background-image: url(background.png);
    background-repeat: repeat-x;
    animation: slideright 600s infinite linear;
    width: 100%;
    height: 200px;
}